@import 'reset.css';

.bodyContainer{
	width: 700px;
	margin: 0 auto; 
}
h1{
	font-size: 26pt;
}
h2{
	font-size: 20pt;
}
h3{
	font-size: 18pt;
}
h1,h2,h3{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px; 
}
ol{
	list-style-type: bullet;
}
ol li{
	padding: 5px;
}
ul{
	padding-left: 30px;
	list-style-type: lower-alpha;
}
.commands{
	background-color: #D3D3D3;
	border:1px solid #8B8386;
	padding: 2px;
	margin: 5px;
	/*color: ;*/
}